# cpu-only requirements
# for network only
#
# if using conda, after creating the bare environment, run:
# conda install --yes --file requirements_cpu.txt
#

python >= 3.12
pytorch >= 2.3
numpy
h5py
dataclasses-json
pandas
tqdm
